<template name="recreacionistas">
  <div class="recreacionistas">

      <img class="img-responsive img-center center-block col-xs-6 col-sm-6 col-md-6 m-x-auto text-xs-center" src="img/recre1.jpg">


      <img class="img-responsive img-center center-block col-xs-6 col-sm-6 col-md-6 m-x-auto text-xs-center" src="img/recre2.jpg">


      <img class="img-responsive img-center center-block col-xs-6 col-sm-6 col-md-6 m-x-auto text-xs-center" src="img/recre3.jpg">

      <img class="img-responsive img-center center-block col-xs-6 col-sm-6 col-md-6 m-x-auto text-xs-center" src="img/recre4.jpg">

  </div>
</template>
