<template name="imageUploadTemplate">
      {{#each imagenUpload}}
          {{#if isUploaded}}
            <div class="delImage">
              <img src="{{url}}" class="m-x-auto text-xs-center center-block img-responsive" width="200" />
              <input name="imagen" id="imagen" type="hidden" value="{{url}}" class="form-control"/>
              <p id="deleteFileButton">Quitar imagen</p>
            </div>
          {{else}}<p>Subiendo imagen</p>{{/if}}
      {{/each}}
</template>

<template name="dropzone">
  <div class="row">
    <div class="col-md-12">
      <div id="dropzone" class="dropzone">
        <div class="well-drop-zone">
          <p>Arrastre su imagen acá</p>
        </div>
      </div>
    </div>
  </div>
</template>