<template name="clientesList">
  <div class="contenedorClientesList clientesList">
    <h2>Clientes</h2>
    <div class="post-contentList col-xs-12 col-sm-12 col-md-12">
      <div class="post col-xs-4 col-sm-4 col-md-4">
        <h3>Nombre</h3>
      </div>
      <div class="post col-xs-4 col-sm-4 col-md-4">
        <h3>Sexo</h3>
      </div>
      <div class="post col-xs-4 col-sm-4 col-md-4">
        <h3>Correo electrónico</h3>
      </div>
    </div>
    <ul class="noticias textoFinal col-xs-12 col-sm-12 col-md-12">
      {{#each clientes}}
        {{> clienteItem}}
      {{/each}} 
    </ul>
  </div>
</template>

