.grid-block, .main, .post, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #eee;
  color: #666666;
  font-family: "PT Sans";
}

.containerBodyApp{
  position: relative;
  width: 100%;
  z-index: 8
}

#map {
    height: 800px;
}

.recreacionistas, .noticias, .amiguitos{
  margin-top: 100px;
  display: none
}

.container{
  background-image: url(img/bg.jpg);
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
  overflow: hidden;
}

#containerAlto.container{
  padding: 0;
  position: relative;
}

.container .btn-Facebook {
  background-color: #3b5998;
  border-radius: 100px;
  color: #fff !important;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 auto;
  padding: 5px;
  width: 80%
}

.containerLogin input{
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 50px !important;
  color: #fff;
  margin: 20px auto !important;
  width: 80%;
}

.containerLogin input::placeholder{
  color: #FFF
}

.containerLogin #login-buttons-password{
  background-color: #f6ac29;
  border: medium none;
  border-radius: 50px;
  display: inline-block;
  float: left;
  font-family: "Rancho";
  font-size: 25px;
  margin-left: 9%;
  padding: 0;
  width: 34%;
}

.containerLogin #forgot-password-link{
  background-color: #f6ac29;
  border: medium none;
  border-radius: 50px;
  color: #fff;
  display: none;
  float: left;
  font-family: "Rancho";
  font-size: 20px;
  margin-left: 9%;
  text-decoration: none;
  width: 33%;
}

.containerLogin #signup-link{
  background-color: #e71f26;
  border: medium none;
  border-radius: 50px;
  color: #fff;
  float: left;
  font-family: "Rancho";
  font-size: 26px;
  margin-right: 10%;
  text-align: center;
  text-decoration: none;
  width: 45%;
}

.containerLogin .dropdown-menu .or{
  display: none !important
}

.loginIn .header{
  background-color: #4a2779;
  max-height: 80px;
  min-height: 80px;
  padding: 10px;
  width: 100%;
  position:fixed;
  z-index: 9
}

.containerLogin input#login-email:before{
  content: "";
}

.header h2{
  color: #fff;
  font-family: "Rancho";
  font-size: 2.5rem;
  text-align: center
}

.header img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
}

.menuHeader img {
    border-radius: 100%;
    bottom: 0;
    cursor: default;
    height: 80px;
    position: relative;
    width: 80px;
    bottom: -30px
}

#menuOpen{
  position: fixed;
  width: 80%;
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 1001;
  -webkit-animation: backSlideOut .3s both ease;
  -moz-animation: backSlideOut .3s both ease;
  animation: backSlideOut .3s both ease;
}

.menuHeader{
  background-image: url("img/menubg.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 120px;
  position: relative;
}

.menuContent{
  background-color: #fff;
  min-height: 800px;
  overflow: hidden;
  position: relative;
}

.menuContent p{
  color: #222;
  margin: 20px 0;
  font-size: 1.7rem;
}

.menuContent p i{
  width: 30px
}

.header div{
  padding: 0;
  margin: 0
}

.header i{
  color: #FFF;
  margin: 20px auto;
  font-size: 3rem;
  cursor: pointer;
}

#main {
  background-color: #fff;
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

#main .menu{
  bottom: 0;
  color: #fff;
  list-style: outside none none;
  margin: 0;
  min-height: 50px;
  position: fixed;
  width: 100%;
  z-index: 9;
  padding: 0;
  background: rgb(93,0,133); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(93,0,133,1) 0%, rgba(43,6,78,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(93,0,133,1) 0%,rgba(43,6,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(93,0,133,1) 0%,rgba(43,6,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d0085', endColorstr='#2b064e',GradientType=0 ); /* IE6-9 */
}

#main .menu li{
  font-size: 2.3rem;
  padding: 5px;
  text-align: center;
  border-width: 0 2px 0 0;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#500182), to(#290f4e)) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(bottom, #500182, #290f4e) 1 100%;
  -moz-border-image: -moz-linear-gradient(bottom, #500182, #290f4e) 1 100%;
  -o-border-image: -o-linear-gradient(bottom, #500182, #290f4e) 1 100%;
  border-image: linear-gradient(to top, #500182, #290f4e) 1 100%;
}

#main .menu li span{
  font-size: 1.3rem;
}

#main .menu li h4{
  font-size: 0.9rem;
  margin: 5px 0 0;
}

#btnSend{
  background-color: #4a2779;
  border: medium none;
  border-radius: 100%;
  bottom: 75px;
  color: #fff;
  font-size: 2.5rem;
  height: 50px;
  padding: 0 0 0 2px;
  position: fixed;
  right: 20px;
  width: 50px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none !important;
}

.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }

.containerLogin .dropdown-menu{
  display: block;
  background-color: transparent;
  width: 100%;
  border: none;
  box-shadow: none;
}

/*
TODO
*/
.contactForm{
  display: none;
}
/*
TODO
*/


.containerLogin .dropdown-toggle{
  display: none;
}

.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

/*Menu push*/

#menuOpen.pm_open{
	left: 0px;
	-webkit-animation: backSlideIn .5s both ease;
	-moz-animation: backSlideIn .5s both ease;
	animation: backSlideIn .5s both ease;
}
.pm_overlay{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: fixed;
	z-index: 1000;
	background: rgba(0,0,0,0.7);
	left: 0;
	top: 0;
	-webkit-animation: fadeOut .5s both ease;
	-moz-animation: fadeOut .5s both ease;
	animation: fadeOut .5s both ease;
}
.pm_overlay.pm_show{
	display: block;
	-webkit-animation: fadeIn .3s both ease;
	-moz-animation: fadeIn .3s both ease;
	animation: fadeIn .3s both ease;
}
.pm_overlay.pm_hide{
	display: none;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; display: none; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; display: none; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; display: none; }
}
@-webkit-keyframes backSlideOut {
  0% { opacity: 1; -webkit-transform: translateX(0px); }
  50% { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translateX(-100%); }
}
@-moz-keyframes backSlideOut {
  0% { opacity: 1; -webkit-transform: translateX(0px); }
  50% { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translateX(-100%); }
}
@keyframes backSlideOut {
  0% { opacity: 1; -webkit-transform: translateX(0px); }
  50% { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes backSlideIn {
  0% { opacity: 0; -webkit-transform: translateX(-100%); }
  100% { opacity: 1; -webkit-transform: translateX(0px); }
}
@-moz-keyframes backSlideIn {
  0% { opacity: 0; -webkit-transform: translateX(-100%); }
  100% { opacity: 1; -webkit-transform: translateX(0px); }
}
@keyframes backSlideIn {
  0% { opacity: 0; -webkit-transform: translateX(-100%); }
  100% { opacity: 1; -webkit-transform: translateX(0px); }
}

/*Loader*/

.loaderContent{
  background-color: #4A2779;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
}

.loader {
  color: #ffffff;
  top: 25%;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
