<template name="publicarNoticia">
	<form class="form page">
      <div class="col-xs-12 col-sm-10 col-md-10 contenido">
        

          <div class="form-group {{errorClass 'titulo'}} titulo">
            <label class="control-label" for="titulo">Crear noticia</label>
            <div class="controls">
                <input name="titulo" id="titulo" type="text" value="" class="form-control"/>
                <span class="help-block">{{errorMessage 'titulo'}}</span>
            </div>
          </div>

          <div class="form-group {{errorClass 'texto'}} texto">
            <div class="controls">
                <textarea name="texto" class="form-control noticiasContenido" rows="5" id="texto"></textarea>
                <span class="help-block">{{errorMessage 'texto'}}</span>
            </div>
          </div>
        
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 opciones">
        <div class="col-xs-12 col-sm-12 col-md-12 publicar">
          <h4>Publicar</h4>
          <ul>
            <li><i class="icon-editar"></i> Editar Artículo</li>
            <li><i class="icon-eliminar"></i> Eliminar Artículo</li>
          </ul>
          <input type="submit" value="Publicar" class="btn publicar"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 imagen">
          <h4>Imagen</h4>
            <div class="contenedorImagen">
            	{{> dropzone}}
              	{{>imageUploadTemplate}}  
            </div> 
        </div>
      </div>
    </form>
</template>