<template name="header">
  <nav class="" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="row">
    	<div class="col-xs-12 col-md-12 loginIn">
    		{{#if currentUser}}
				
				{{else}}
				<img class="img-responsive img-center center-block" src="img/logo.png">
			{{/if}}
			<div class="center-block"> 
				{{> loginFacebook}}
			</div>

			<ul class="nav navbar-nav">        
				{{#if currentUser}}<li><a href="{{pathFor 'postSubmit'}}">Nuevo post</a></li>{{/if}}      
			</ul>
		</div>
    </div>
  </nav>
</template>
