<template name="menuInvited">
    <ul class="menu col-xs-12 col-md-12">
      <li class="col-xs-3 col-sm-3 col-md-3" id="geolocalizacion">
        <a href="">
          <i class="icon-geolocalizacion"></i>
          <h4>Geolocalización</h4>
        </a>
      </li>
      <li class="col-xs-3 col-sm-3 col-md-3 " id="recreacionistas">
        <a href="">
          <i class="icon-recreacionistas"></i>
          <h4>Recreacionistas</h4>
        </a>
      </li>
      <li class="col-xs-3 col-sm-3 col-md-3" id="amiguitos"> 
       <a href="#" id="facebook_friends">
          <i class="icon-clubAmmigos"></i>
          <h4>Club de amigos</h4>
            
        </a>
      </li>
      <li class="col-xs-3 col-sm-3 col-md-3" id="noticias">
        <a href="{{pathFor 'postsList'}}" >
          <i class="icon-noticias"></i>
          <h4>Noticias</h4>
        </a>
      </li>
    </ul>
    <!--<button id="btnSend" class="btn btn-primary btn-lg btn-block">
      <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
    </button>-->

</template>
