<template name="menu">
	<div class="menuOpen pm_close" id="menuOpen">
		<div class="col-xs-12 col-sm-12 col-md-12 menuHeader">
			<div class="col-xs-4 col-sm-4 col-md-4">
			    <img src="https://graph.facebook.com/{{currentUser.services.facebook.id}}/picture/?type=large" id="closeMenuPerfil">
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 menuContent">
			
			<div class="col-xs-12 col-sm-12 col-md-12">
			   	<p><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Perfil</span></p>
				<p><i class="fa fa-users" aria-hidden="true"></i><span>Personas invitadas</span></p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Ubicación</span></p>
				<p><i class="fa fa-question" aria-hidden="true"></i><span>Ayuda</span></p>
				<br>
				<p><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Comprar eventos</span></p>
				<p><i class="fa fa-money" aria-hidden="true"></i><span>Pagar en línea</span></p>
			</div>
		</div>
	</div>
</template>
