<template name="menu">
	<div class="menuOpen pm_close" id="menuOpen">
		<div class="col-xs-12 col-sm-12 col-md-12 menuHeader">
			<div class="col-xs-4 col-sm-4 col-md-4">
			    <img src="https://graph.facebook.com/{{currentUser.services.facebook.id}}/picture/?type=large" id="closeMenuPerfil">
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 menuContent">
			
			<div class="col-xs-12 col-sm-12 col-md-12">
			   	<p><i class="icon-usuario"></i><span>Perfil</span></p>
				<p><i class="icon-usuarios"></i><span>Personas invitadas</span></p>
				<p><i class="icon-pin" ></i><span>Ubicación</span></p>
				<p><i class="icon-ayuda"></i><span>Ayuda</span></p>
				<br>
				<p><i class="icon-reservar"></i><span>Reservar evento</span></p>
				<p><i class="icon-cotizar"></i><span>Cotizar evento</span></p>
				<p><i class="icon-compras"></i><span>Pagar en línea</span></p>
				<br>
				<p><i class="icon-escribir"></i><span>Contáctenos</span></p>
			</div>
		</div>
	</div>
</template>
