<template name="menu">
	<div class="menuOpen pm_close" id="menuOpen">
		<div class="col-xs-12 col-sm-12 col-md-12 menuHeader">
			<div class="col-xs-4 col-sm-4 col-md-4">
			    <img src="https://graph.facebook.com/{{currentUser.services.facebook.id}}/picture/?type=large" id="closeMenuPerfil">
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 menuContent">			
			<ul class="col-xs-12 col-sm-12 col-md-12">
			   	<li><i class="icon-usuario"></i><span>Perfil</span></li>
				<li><i class="icon-usuarios"></i><span>Personas invitadas</span></li>
				<li><i class="icon-pin" ></i><span>Ubicación</span></li>
				<li><i class="icon-ayuda"></i><span>Ayuda</span></li>
				<br>
				<li><i class="icon-reservar"></i><span>Reservar evento</span></li>
				<li><i class="icon-cotizar"></i><span>Cotizar evento</span></li>
				<!--<li><i class="icon-compras"></i><span>Pagar en línea</span></li>-->
				<li><i class="icon-escribir"></i><span>Contáctenos</span></li>
				<br>
				<li><i class="icon-cerrar"></i><span>Cerrar sesión</span></li>
			</ul>
		</div>
	</div>
</template>
